*, textarea{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Work Sans';
   outline: none;
}
body{
   background: #333; 
   
}
button{
   background: #34c0e2;
   color: #fff;
   border: 2px solid #34c0e2;
   padding: 10px;
   font-weight: bold;
   font-size: 18px;
   border-radius: 2px;
   width: 350px; 
   transition: .25s;
   cursor: pointer;
}
button:hover{
   border: 2px solid #69d0ea;
   opacity: .9;
}
.second_btn{
   display: block;
   border: 2px solid #34c0e2;
   margin-top: 5px;
   color: #34c0e2;
   text-decoration: none;
   width: 350px;
   padding: 10px;
   font-weight: bold;
   text-align: center;
}
h1{
   color: #576369;
   font-size: 22px;
   margin-bottom: 20px;
}
input, select, textarea, option{
   padding: 10px;
   outline: none;
   border: 1px solid #eeeff2;
   color: #444;
   font-size: 18px;
   border-radius: 2px;
   transition: .25s;
   width: 350px;
   margin: 10px 0;
   resize: none;
}input::placeholder{
   font-size: 14px;
}input:focus{
   border: 1px solid #34c0e2;
}
.wrapper, .content, .menu, body, html{
   height: 100%;
}
.wrapper{
   display: flex;
}
.content{
   flex:1;
   background: #fcfcfd;
}
.block{
   margin: 40px;
   padding: 40px 20px;
   background: #ffffff;
   border: 1px solid #eeeff2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.menu{
   width: 250px;
   background: #2b5667;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.menu a{
   color: #fff;
   font-weight: bold;
   text-decoration: none;
   margin: 10px 0;
   font-size: 20px;
}
#space{
   margin: 30px 0 0 0;
   width: 90%;
   text-align: left;
   box-shadow: 0 0 5px #cff;
   padding: 20px;
   color: darkcyan;
}
/* .block select{
   width: 350px;
   margin: 10px 0;
   padding: 10px;
   border: 1px solid #eeeff2;
} */